
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WayCup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/css/custom.css">
    
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
   
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
           <img class="img-responsive" src="images/logo.png" id="logoImg">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
       

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#home" title="Home">Home</a></li>
	        <li><a href="#about-us">About Us</a></li>
	       	<li><a href="#gallery" title="#">Our Offerings</a></li>
		 	<li><a href="#posts" title="Blog">Why Waycup</a></li>
		 	<li><a href="#contact" title="Contact">Team</a></li>
		 	<li><a href="#contact" title="Contact">Contact Us</a></li>
          </ul>

        </div>
      </div>
    </div>
    
    <div class="jumboBox">
    	<div class="row">
	    	<div class="col-lg-2">
	    	</div>
    		<div class="col-lg-8">
	    		<div class="headingText1">Ever thought an ordinary tea or coffee cup can turn into a magic wand for your brand?! </div>
				<div class="headingText2">Well yes! We’ll make that happen for you.</div>	
				 <div class="readMoreBtn">
				    <a class="btn btn-large btn-default" >Read More</a>
				</div>
    		</div>
    		<div class="col-lg-2">
	    	</div>
    	</div>
    	
    </div>
   
    <div class="jumboBox">
    	<div class="row">
    		<div class="col-lg-1">
    		</div>
	    	<div class="col-lg-2">
	    	 	<div class="row">
	    	 		<div class="col-lg-12">
	    	 		
				     <img class="img-responsive readMoreImg" src="images/readMorePic1.jpg">
				   
	    	 		</div>
	    	 		<div class="col-lg-12">
	    	 		
				     <img class="img-responsive readMoreImg" src="images/readMorePic2.jpg">
				  
	    	 		</div>
	    	 	</div>
	    	</div>
	    	<div class="col-lg-8">
	    		<img class="img-responsive" src="images/dialogShape.png" >
	    	
	    	</div>
	    	<div class="col-lg-1">
	    	</div>
	    	
	    </div>
   </div>
   <div class="container page3">
	   <div class="row">
		   	<div class="col-lg-4 centerText">
		   		<div class="reachBlock">
		   			<h2><strong>REACH THROUGH US</strong></h2>
		   			<p>We have a network of more than 2500+ tea and food stalls, 500+ offices, 200+ colleges, 400+ schools, 60+ metro stations, 25+ malls & multiplexes and 100+ hospitals across Delhi, Gurgaon, Noida and Faridabad.</p>
					<p>It doesn’t stop here, we are also expanding to Mumbai, Pune, Bangalore, Hyderabad, Chennai and Kolkata</p>
		   		
		   		</div>
		   	</div>
		   	<div class="col-lg-4 centerText">
		   		<div class="impactBlock">
		   			<h2><strong>IMPACT THROUGH US</strong></h2>
		   			<p>It’s not just about reaching the audience but reaching the RIGHT audience. We help you strategize your reach by identifying the areas, in our diverse mix of chai and coffee points, which aptly matches with your target segment.</p>
					<p>Also, those 5-10 minutes of interaction with the cup would help your brand sustain in their minds due to longer exposure time, triggered conversations and proper placement.</p>
		   		
		   		</div>
		   	</div>
		   	<div class="col-lg-4 centerText">
		   		<div class="growBlock">
		   			<h2><strong>GROW WITH US</strong></h2>
		   			<p>Therefore, through this we help you turn your numbers around by ensuring maximum reach and high impact via this innovative and unique medium.</p>
		   		
		   		</div>
		   	</div>
	   </div>
   </div>
   <div class="footer">
    	
   </div>   
  
    
    
</body>
</html>
